.placement-team-section {
  background: linear-gradient(124.35deg, #eede4d 29.7%, #1b6307 74.19%);
  border-radius: 9px;
  padding: 20px 20px;
  margin: 20px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
}
