.about-container{
    padding: 10px;
    border: 1px solid #7c7d80;
    margin: 20px;
  }
  .about-section{
    margin-top: 5px;
    background-color: #222;
    padding: 20px;
    height: 400px;
  }
  
  .about-heading{
    font-size: 32px;
    font-family: "Roboto";
    color: #196AE5;
    padding-bottom: 5px;
    text-align: center;
  }
  
  .about-list{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self:center;
  
  }
  .about-item{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto";
  color: #222;
  }
  
  
  
  .about-us-content{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 500;
    color: #222;
  }
  .about-us-founder-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .about-us-founder-section-heading{
    align-self: center;
    font-size: 50px;
    font-family: "Roboto";
    font-weight: bold;
    color: #196AE5;
  }
  
  .about-us-founder-section-heading:hover{
    transform: scale(1.1);
  }
  
  .founder-image{
    align-self: center;
    width: 600px;
    padding: 20px;
    border-radius:100px
  }
  @media screen and (max-width:767px){
    .founder-image{
      width: 80%;
      padding: 2px;
    }
  }
  
  .founder-image:hover{
    transform: scale(1.1);
    opacity: 1;
  }
  
  .about-us-founder-section-list{
    list-style-type: none;
  }
  
  .about-us-founder-section-content{
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 400;
   
    color: #222;
    padding: 20px;
  }
  .about-us-content-span{
    font-weight: bold;
  }
  
  .react-icon-ai{
    color: #ff6600;
    font-size: 20px;
    padding-right: 5px;
  }
  
  .about-journey-heading-underline {
    position: relative;
    margin-right: 1rem;
  }
  .about-journey-heading-underline:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 7px;
    width: 100%;
    border: solid 3px #ff6600;
    border-color: #ff6600 transparent transparent transparent;
    border-radius: 30%;
  }