.courseWhyGloriousMindMineCard{
    background-color: bisque;
    width:200px;
    height:200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
}
.courseWhyGloriousMindMineImage{
   font-size: 50px;
   color:red;
}
.courseWhyGloriousMindMineDescription{
    font-size: 18px;
}