









.study-abroad-popup-main-container{
    display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.study-abroad-popup-container{
    position: relative;
    background-color: #e6e6ff;
    width:800px;
    height:500px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.study-abroad-popup-container1{
    align-self: flex-start;
    display: flex;
    align-items: center;
}
.study-abroad-popup-icon-container{
    border-radius: 50%;
    background-color: #fff;
    padding: 15px;
}
.study-abroad-popup-icon{
    font-size: 60px;
}
.study-abroad-popup-icon-right-container{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}
.study-abroad-popup-icon-right-container-heading{
    font-size: 24px;
}
.study-abroad-popup-icon-right-container-text{
    font-size: 18px;
}
.study-abroad-popup-inputs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.study-ppr-popup-input{
    width:250px;
    height:40px;
    margin-top: 15px;
}
.study-abroad-popup-button{
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
}

@media (max-width:992px){
    
.study-abroad-popup-container{
    width:400px;
height: max-content;
}
.study-abroad-popup-icon{
    font-size: 40px;
}
.study-abroad-popup-icon-right-container{
    margin-left: 20px;
}
.study-abroad-popup-icon-right-container-heading{
    font-size: 18px;
}
.study-abroad-popup-icon-right-container-text{
    font-size: 14px;
}.study-abroad-popup-inputs-container{
    align-items: center;
    width:100%;
    justify-content: center;
}
.ppr-popup-input{
    width:250px;
    height:40px;
}
.study-abroad-popup-button{
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    margin-top: 20px;
}
}

.study-abroad-popup-close-button {
    align-self: flex-end;
    font-size: 34px;
    cursor: pointer;
    color: #196AE5;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
  }