.courseTransformingcard{
    width:250px;
    height:300px;
}
.courseTransformingContainer1{
    background-color: #2d1d1d;
    color:#ffffff;
    font-style:oblique;
    padding: 25px;
    border-radius: 10px;
}
.courseTransformingDescription{
    font-size: 13px;
}
.courseTransformingContainer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
.courseTransormingContainer2-1{
    display: flex;
    flex-direction: column;
}
.courseTransformingName{

}
.courseTransformingPrviousrole{

}
.courseTransformingIcon{
    color: red;
    font-size: 50px;
}
.courseTransformingContainer3{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}