.courseWhyGloriousMindMineCard{
    background-color: bisque;
    width:200px;
    height:200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:25px;
    justify-content: center;
    margin-bottom: 20px;
    text-align:center;
    
}
.courseWhyGloriousMindMineCard:hover{
    -webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.courseWhyGloriousMindMineImage{
    font-size:50px;
    color:red;
}
.courseWhyGloriousMindMineDescription{
    font-size: 18px;
    font-family:"Roboto";
}