.courseWhyGloriousMindMineCard{
    background-color: #e6f0ff;
    max-width:250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:25px;
    justify-content: center;
    margin-bottom: 20px;
    text-align:center;
    max-height:max-content;
    
}
.courseWhyGloriousMindMineCard:hover{
    -webkit-transform: scale(0.9);
	transform: scale(0.9);
}

.courseWhyGloriousMindMineImage{
    font-size:50px;
    color:#196AE5;
}
.courseWhyGloriousMindMineDescription{
    font-size: 18px;
    font-family:"Roboto";
    color: #222;
}
@media (max-width:768px){
    .courseWhyGloriousMindMineCard{
        max-width:150px;
        margin-left: 0px;
    }.courseWhyGloriousMindMineDescription{
        font-size: 12px;
    }.courseWhyGloriousMindMineImage{
        font-size:40px;
    }
}