h1.card-title {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(6, 74, 22);
  border-radius: 20px;
  padding: 20px 20px;
}

.card-container Card {
  text-align: center;
}

.space {
  margin: 20px 0;
}
@media screen and (max-width: 780px) {
  .card-container {
    flex-direction: column;
  }
}
