@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.Carousel-card-main-container{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:center;    
    margin-bottom: 0px;
}
.Carousal-card-heading-first-ielts{
    font-family: 'Roboto';
    font-size: 72px;
    font-weight: bold;

}
.Carousal-card-second-heading-ielts{
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 500;
    margin-top: 0px;
}
.Carousel-card-right-image{
    width: 200px; /* Set the width of the container */
    height: 450px; /* Set the height of the container */
    border-radius: 60%; /* This creates a circular shape */
    overflow: hidden; 
    margin-top: 20px;
}
.Carousel-card-left-container{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    width:50%;
    
}

/* .carousel-slide-gradient {
    content: '';
    position: absolute;
    bottom: -64px;
    right: -18px;
    height: 193px;
    width: 193px;
    border-radius: 50%;
    mix-blend-mode: multiply;
    background: #e31837;
} */
.Carousal-card-button-ielts{
    display:inline-flexbox;
    cursor: pointer;
    background: linear-gradient(#FFF, #FFF) padding-box, linear-gradient(to right,#7cb4e4,#1c74d4,#0e39a9) border-box;
    transition: all .5s ease;
    border: 2.5px solid transparent;
    color: #000;
    background-color:transparent;
    padding: 5px 12px;
    border-radius: 8px;
    font-family:"Roboto";
    font-size:18px;
}
.Carousal-card-button-ielts:hover {
    background: linear-gradient(to right, #196ae5, #196ae5) border-box;
    border: 3px solid transparent;
    color: #FFF;
    transition: all .1s ease;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease;
    transition-delay:0s;
  
  }


@media (max-width:972px){
        .Carousel-card-left-container{
            width:40%;
            gap:0px;
        }
        .Carousel-card-left-heading{
            font-size:16px;
        }
        .Carousel-card-left-desc{
            font-size:14px;
        }
        .Carousel-card-left-text{
            font-size:10px;
        }
        .Carousel-card-right-image{
            width:50px;
        }
}
@media (min-width:320px) and (max-width: 576px){
    .Carousel-card-left-container{
        width:100%;
        gap:0px;        
        margin: 10px 0px 10px 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .Carousel-card-right-image{
        width:100%;
    }
    .Carousal-card-heading-first-ielts{
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    
    }
    .Carousal-card-second-heading-ielts{        
        font-size: 10px;      
        text-align: center;          
    }
    .Carousel-card-right-image{
        width: 350px; 
        height: 350px; 
        border-radius: 60%; 
        margin: 0px;
        
    }
    .Carousel-card-main-container{
        display:flex;
        justify-content: space-between;
        flex-direction:column;
        width: 100%;
        padding: 10px 0px 10px 0px;
        margin: 10px 0px 10px 0px;
    }
    .Carousal-card-button-ielts{
        height: 40px;
        width: 80%;
        font-size: 10px;
    }
}

.Carousel-card-right-image{
    width:35%;
} 
@media (min-width: 577px) and (max-width:767px){
    .Carousel-card-left-container{
        width:100%;
        gap:0px;        
        margin: 10px 0px 10px 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .Carousel-card-right-image{
        width:100%;
    }
    .Carousal-card-heading-first-ielts{
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    
    }
    .Carousal-card-second-heading-ielts{        
        font-size: 10px;      
        text-align: center;          
    }
    .Carousel-card-right-image{
        width: 350px; 
        height: 350px; 
        border-radius: 60%; 
        margin: 0px;
        
    }
    .Carousel-card-main-container{
        display:flex;
        justify-content: space-between;
        flex-direction:column;
        width: 100%;
        padding: 10px 0px 10px 0px;
        margin: 10px 0px 10px 0px;
    }
    .Carousal-card-button-ielts{
        height: 40px;
        width: 80%;
        font-size: 10px;
    }
}

.slick-dots li button:before {
    color: #196AE5 !important;
  }
  
  /* Custom styles for the arrows */
  .slick-prev:before, .slick-next:before {
    color: #196AE5 !important;
    opacity: 1 !important;
    font-size: 30px;
    font-weight:500;
  }